*{
	outline: none;
	color: white;
}
body{
	background-image: url("fig.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
fieldset{

	text-align: center;
	width: 540px;
	height: auto;
	border: 3px solid black;
	border-radius: 15px;
	font-family: arial;
	font-size: 22px;
	background: rgba(0,0,0,0.8);
}
input{
	margin-top: 5px;
}
input[type=text]{
	width: 200px;
	height: 30px;
	border-radius: 10px;
	background: none;
	text-align: center;
	transition: 0.50s;
	font-size: 14px;
}
input[type=text]:focus{
	width: 250px;
	height: 40px;
	font-size: 18px;

}
input[type=date]{
	width: 150px;
	height: 25px;
   background: none;
	 border-radius: 5px;
	 font-size: 14px;
	 cursor: pointer;
}
input[type=radio]{
	cursor: pointer;
}

label{
	cursor: pointer;
}
select{
	cursor: pointer;
	width: auto;
	height: 25px;
	font-size: 14px;
   background: none;
	 border-radius: 5px;
	 transition: 0.75s;
}
select:hover{
	width: auto;
	height: 35px;
	font-size: 18px;

}
option{
	color: black;
}

button{
	border-radius: 5px;
	background: none;
	color: white;
	border: 3px solid black;
	height: 50px;
	width: 100px;
	margin-top: 20px;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
}

button:hover{
	background-color: white;
	color: black;
}
