input[type="number"]{

   border-radius: 5px;
   width: 100px;
   outline: none;
   text-align: center;
   transition: 0.5s;
 }
 input[type="number"]:focus{

   height: 25px;
   width: 200px;
   border-color: green;

 }
 input[type="submit"]{

   border-radius: 15px;
   background: none;
   border-color: green;
   width: 100px;
   height: 35px;
   outline: none;
   text-align: center;
   transition: 0.5s;
   cursor: pointer;
 }
 input[type="submit"]:hover{

   height: 35px;
   border-color: green;
   background-color: green;

 }
 #fil{
   width: 200px;
   height:300px;
   top: 260px;
   background-color: white;
   position: relative;
 }
 body{
   margin: 0;
   padding: 0;
   background-image: url(oi.jp);

 }
 label{
  cursor: pointer;
}
input[type="text"]{
  width: 100px;
  height: 25px;
  border-color: green;
}
