.container-fluid{
  padding: 0;
  margin: 0;
}

#navbar{
    margin-top: 0px;
    animation: navbar 0.3s ease;
    animation-iteration-count: initial;
  }
  @keyframes navbar{
    from{margin-top: -50%;}
    to{margin-top: 0px;}
  }

    .form-signin{
      border-radius: 5px;
      height: auto;
      box-shadow:4px 4px 6px gray;
      margin-left:30%;
    }
    input[type="submit"]{
      width: 95%;
      margin-left: 2%;

    }

    input[type="checkbox"]{
      height: 15px;
      width: 15px;
    }
