h1{
	font-size: 30px; font-family: arial black; color: green;
}
.col-sm-4{
	background-color:gray;
	border:solid;
	text-align: center;
}
.content{
	background-color:lightslategray;
	border-style: double;
}
#text{
	text-align: justify;
}
label{
	cursor:pointer;
}
