html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.city{
	height: 50%;
	width: 50%;
	float: right;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: brightness(50%);
}
.city:hover{
	transition: 1s;
	filter: brightness(100%);
}
#CN{
	background-image: url(https://cdn.getyourguide.com/img/country/58de136b73284.jpeg/88.jpg);
}
#PR{
	background-image: url(https://static.poder360.com.br/2021/03/paris-scaled.jpg);
}
#IN{
	background-image: url(https://ci-prod.imgix.net/upload/galeriadeimagens/00210010.jpg);
}
#NY{
	background-image: url(http://viva-mundo.com/sites/default/files/images/posts/NewYork.jpg);
}
