html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
	background-image: url(https://cdn.getyourguide.com/img/country/58de136b73284.jpeg/88.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5)
}
.logo{
	text-align: center;
	color: white;
	opacity: 100%;
	font-size: 30px;
	letter-spacing: 5px;
}
.nav{
	padding-top: 0.75%;
	margin-top: -2%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 10%;
	border-bottom: solid 1px black;
	animation: navdown 0.5s;
}
@keyframes navdown {
	from{
		margin-top: -100%;
	}
	to{
		margin-top: -2%;
	}
}
#leaf{
	float: left;
	margin-top: 2%;
	margin-left: 2%;
	width: 30px;
	height: 30px;
}
red{
	color: red;
}
.socialmidia{
	margin-top: -3.5%;
}
.socialmidia img{
	width: 20px;
	height: 20px;
	opacity: 0.5;
	transition: 0.5s;
}
#social:hover{
	transition: 1s;
	opacity: 10;
}
.socialmidia{
	display: inline;
	float: right;
}
.copyright{
	color: #f2f2f2;
	opacity: 0.5;
	float: left;
	margin-top: 1px;
}
.title{
	text-align: center;
	display: inline;
	padding: 3%;
	background-color: red;
	color: #f2f2f2;
	border-radius: 10px 10px 0px 0px;
	box-shadow:-2px 0 10px -4px black;
}
.titles{
	height: 40%;
	width: 50%;
}
.box{
	margin: auto;
  	width: 75%;
  	padding: 10px;
	margin-top: 3%;
}
.content{
	border: 5px solid red;
	border-radius: 5px;
	width: 100%;
	background-color: #f2f2f2;
	height: 500px;
	margin-top: 1%;
}
label{
	cursor: pointer;
}
