html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
	background-image: url(https://cdn.getyourguide.com/img/country/58de136b73284.jpeg/88.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5)
}
.logo{
	text-align: center;
	color: white;
	opacity: 100%;
	font-size: 30px;
	letter-spacing: 5px;
}
.nav{
	padding-top: 0.75%;
	margin-top: -2%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 10%;
	border-bottom: solid 1px black;
	animation: navdown 0.5s;
}
#myBtn{
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
#myBtn:hover {
	transition: 1s;
	background-color: #555; /* Add a dark-grey background on hover */
}
@keyframes navdown {
	from{
		margin-top: -100%;
	}
	to{
		margin-top: -2%;
	}
}
#leaf{
	float: left;
	margin-top: 1.5%;
	margin-left: 2%;
	width: 30px;
	height: 30px;
}
span{
	color: red;
}
.socialmidia{
	margin-top: -3.5%;
}
.socialmidia img{
	width: 20px;
	height: 20px;
	opacity: 0.5;
	transition: 0.5s;
}
#social:hover{
	transition: 1s;
	opacity: 10;
}
.socialmidia{
	display: inline;
	float: right;
	margin-right: 1%;
}
.copyright{
	color: #f2f2f2;
	opacity: 0.5;
	float: left;
	margin-top: 1px;
}
.title{
	cursor: pointer;
	text-align: center;
	display: inline;
	padding: 3%;
	background-color: #c20a0a;
	color: #f2f2f2;
	border-radius: 10px 10px 0px 0px;
	box-shadow:-2px 0 10px -4px black;
}
.title:active{
	background-color: darkred;
}
.titles, .titles-side{
	height: 40%;
	width: 50%;
}
.box{
	margin: auto;
	height: auto;
  	width: 85%;
  	padding: 1%;
	margin-top: 3%;
}
.content{
	border: 5px solid;
	border-color: #c20a0a;
	border-radius: 5px;
	width: 100%;
	background-color: white;
	height: auto;
	margin-top: 1%;
	text-align: justify;
	padding: 2%;
	font-size: 18.5px;
}
#cities-box h1{
	text-shadow: 2px 2px 5px red;
}
#cultures-box h1, h2{
	text-shadow: 2px 2px 5px rgb(185, 100, 20);
}
.content p, h1, h2{
	padding-left: 5%;
	padding-right: 5%;
}
.begin img, #cities-box img{
	width: 600px;
	height: 300px;
	margin-left: auto;
  	margin-right: auto;
  	display: block;
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
}
#cultures-box img{
	width: 350px;
	height: 350px;
	margin-left: auto;
  	margin-right: auto;
  	display: block;
}
#loading {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 99;
}
#loading-image {
	z-index: 100;
	width: 500px;
	height: 500px;
	animation: leaf 2s linear infinite;
}
@keyframes leaf{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
	right: 0;
  	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.avaliation{
	color: green;
	font-size: 30px;
}
/*Quiz*/
#quiz-box{
	font-size: 62.5%;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;
}
#quiz-h1{
	font-size: 5.4rem;
	margin-bottom: 5rem;
	white-space: nowrap;
}
.flex-colum{
	display: flex;
	flex-direction: column;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.text-center{
	text-align: center;
}
.hidden{
	display: noneS;
}
.btn{
	font-size: 2.4rem;
	padding: 2rem 0;
	width: 30rem;
	text-align: center;
	margin-bottom: 1rem;
	text-decoration: none;
	color: rgb(28, 26, 26);
	background: linear-gradient(90deg, rgb(10, 92, 255) 0%, rgb(0, 182, 255) 100%);
}