img{
	width: 275px;
	height: 275px;
	opacity: 0.75;
}
fieldset {
	width: 2px;
	height: 350px;
	display: inline;
	border-radius: 15px;
	text-align: center;
	border-color: green;
}
legend {
	text-align: center;
	font-size: 20px;
}